body {
	background: black;
	color: #c5c5c5;
	margin: 0;
	padding: 0;
	font-family: 'Hanken Grotesk', sans-serif;
	/* -ms-overflow-style: none; */
	/* scrollbar-width: none; */
}

/* body::-webkit-scrollbar { */
/* display: none; */
/* } */

.profile-pic {
}

.profile-pic .layer {
	margin: 0;
	padding: 0;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
	text-align: center;
	overflow: hidden;
	display: flex;
	justify-content: center;
	white-space: pre;
	font-family: 'Roboto Mono', monospace;
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Likely future */
	color: #777;
}

.profile-pic .index0 {
	line-height: calc(100vh / 31);
	font-size: calc(min(100vh / 40, 100vw / 40));
}

.profile-pic .index1 {
    font-size: 2.5rem;
    opacity: 0.20;
}

.profile-pic .index2 {
    font-size: 5rem;
    opacity: 0.15;
}

.scroll-down-notification {
	position: absolute;
	top: calc(100vh - 3rem);
	right: 0;
	padding: 1rem;
	height: 1rem;
	font-family: 'Roboto Mono', monospace;
	color: #666;
	background: black;
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Likely future */
}

.pseudonym {
	height: 100vh;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
    padding-top: 1.3rem;
}

.pseudonym .center {
	text-align: center;
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Likely future */
}

.pseudonym h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: min(10vh, calc(100vw / 10));
	color: #ddd;
	padding: 0;
	margin: 0;
}

.pseudonym .links {
	letter-spacing: 0.5rem;
	/* font-family: 'Roboto Mono', monospace; */
}

.pseudonym a {
	color: #aaa;
	text-decoration: none;
	font-weight: 600;
}

.pseudonym a:hover {}

.wall {
	margin: 4rem;
}

.wall .time {}

.wall section {
	padding: 1rem 1rem 0rem 1rem;
	line-height: 150%;
	text-align: justify;
}

.wall section h2 {
	width: 100%;
	border-bottom: 1px solid grey;
}

.wall section a {
	color: #858585;
	text-decoration: none;
	font-weight: 600;
}

.wall section a::after {
	content: " [?] ";
	font-size: 50%;
	vertical-align: top;
}

.wall section a:hover {}

footer {
	padding: 1rem 5rem 1rem 5rem;
	height: 1rem;
	color: #858585;
}

footer .pgp-fingerprint {
	font-family: 'Roboto Mono', monospace;
	float: left;
}

footer .copyright {
	float: right;
}
