<header class="site-header" role="banner">

  <div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="patztablook22 site-title" tabindex="-1" rel="author" href="{{ "/" | relative_rul }}">patztablook22
        <span class="effect">patztablook22</span>
        <span class="effect">patztablook22</span>
        <span class="effect">patztablook22</span>
    </a>
  </div>

    {% include navigation.html %}
</header>
