.controls {
    position: fixed;
    right: 2rem;
    top: 50%;
    z-index: 5;
    font-size: 2rem;
    user-select: none;
    margin-top: -1.5rem;

    img {
        filter: invert(60%);
        width: 1.5rem;
        height: 1.5rem;
        display: block;
    }

    .hidden {
        visibility: hidden;
    }

    a {
        color: $text-color;
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    a:hover {
        color: $text-color;
        text-decoration: none;
    }

    @media (max-width: calc(#{$content-width} + 2 * 8rem)) {
        & {
            position: absolute;
            top: 0.75rem;
            right: 1rem;
            margin-top: 0;

            div {
                background: rgba(0, 0, 0, 0);
            }
        }
    }
}

