.controls {
    position: fixed;
    right: 2rem;
    top: 50%;
    z-index: 5;
    font-size: 2rem;
    margin-top: calc(-1rem);
    user-select: none;

    img {
        filter: invert(60%);
        width: 1.5rem;
        height: 1.5rem;
        display: block;
    }

    .hidden {
        visibility: hidden;
    }

    a {
        color: $text-color;
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    a:hover {
        color: $text-color;
        text-decoration: none;
    }

    @include media-query(25 * $base-font-size + $content-width) {
        & {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            margin-top: 0;

            div {
                background: rgba(0, 0, 0, 0);
            }
        }
    }
}

