<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include profile.html -%}

    <div class="row">
        <div class="column">
            <main class="page-content" aria-label="Content" style="float: left">
                <div class="wrapper">
                    {{ content }}
                </div>
            </main>
        </div>
        <div class="column">
            <img src="/assets/img/bg.jpeg" style="width: 100%" />
        </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
