<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

    <body style="background: {{ page.background }};">
        {%- include controls.html -%}
        {%- include header.html -%}

        <main class="page-content" aria-label="Content">
            <div class="page-source">
                <a tabindex="-1" href="{{ site.source_repo }}/blob/main/{{ page.path }}">source</a>
            </div>
            <div class="wrapper {{ page.content_width_class | default: 'fixed-content-width' }}">
                {{ content }}
            </div>
        </main>

        {%- include footer.html -%}

    </body>

</html>
