<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

    <body>
        {%- include controls.html -%}

        <div class="page-content split-page">
            {% if page.background %}
                <div class="right" style="background: {{ page.background }}">
            {% else %}
                <div class="right" style="background: #1a1a1a">
            {% endif %}

            <main class="page-content" aria-label="Content">
                <div class="wrapper moved">
                    {{ content }}
                </div>
            </main>
            {%- include footer.html -%}
            </div>

            <div class="left">
                {%- include profile.html -%}
            </div>

        </div>
    </body>

</html>
